{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Book List{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'books/css/style.css' %}">
{% endblock %}

{% block main %}
  <h2>登録済図書リスト</h2>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for book in books %}
      <div class="col">
        <div class="card h-100 d-flex flex-column card-list">
          <img src="{{book.small_thumbnail}}" class="card-img-top img-fluid mt-1 card-img-list" alt="情報無し">
          <div class="card-body d-flex flex-column card-body-list">
            <h5 class="card-title flex-grow-1 card-title-list">{{ book.title }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{ book.authors }}</h6>
            <div class="mt-auto">
              <a href="{% url 'detail' book.pk %}" class="btn btn-primary">詳細</a>
              <a href="{% url 'edit' book.pk %}" class="btn btn-primary">編集</a>
              <a href="{% url 'delete' book.pk %}" class="btn btn-primary">削除</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <a href="{% url 'fetch' %}" class="btn btn-success btn-lg m-3">図書の登録</a>
{% endblock %}