{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'books/css/style.css' %}">
{% endblock %}

{% block main %}
  <h2 class="h2-fetch">書籍情報取得</h2>
  <div class="container">
    <form method="post">
      {% csrf_token %}
      <label for="colFormLabelLg" class="col-md-2 col-form-label col-form-label-lg">ISBNコード</label>
      <div class="col-md-10">
        <input type="text" class="form-control form-control-lg" placeholder="ISBN" name="isbn" id="isbn" required>
      </div>
      <button type="submit" class="btn btn-primary btn-lg mt-3">情報取得</button>
    </form>
  </div>
{% endblock %}

<!--
    Djangoのフォームが送信されたときにどのビュー関数が処理を担当するかは、
    URL設定 (urls.py) とフォームの action 属性によって決まります。
    フォームの action 属性を指定しない場合、フォームはデフォルトで現在のURLに対して送信されます。 
-->

<!--
    HTMLのrequired属性は、フォームの入力フィールドに対して設定できる属性で、
    この属性が設定された入力フィールドは、フォームが送信される前に値が入力されていることを要求します。
    ユーザーがこのフィールドに値を入力しないままフォームを送信しようとすると、
    ブラウザは自動的にエラーメッセージを表示し、フォームの送信をブロックします。
-->